<nav class="navbar navbar-expand-md navbar-light fixed-top"
  style="background-color: #ffffff!important; box-shadow: 5px 4px 17px #b5acac;">
  <div class="container">
    <a class="navbar-brand" href="#">ProAgil Eventos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault"></div>

    <ul class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Eventos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Palestrantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contatos</a>
      </li>
      <ul class="btn-group" dropdown>
        <li dropdownToggle type="button" class="nav-link dropdown-toggle"
          aria-controls="dropdown-basic">
          <a id="navbarDropDownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Adriano
          </a>
        </li>
        <div *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="navbarDropDownMenuLink">
          <a class="dropdown-item" href="#">Perfil</a>
          
          <div role="separator" class="divider"></div>
          <a class="dropdown-item" href="#">Sair</a>
       
        </div>
      </ul>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>

</nav>